.asciinema-player-theme-asciinema {
  --term-color-foreground: #cccccc;
  --term-color-background: #121314;

  --term-color-0: #000000;
  --term-color-1: #dd3c69;
  --term-color-2: #4ebf22;
  --term-color-3: #ddaf3c;
  --term-color-4: #26b0d7;
  --term-color-5: #b954e1;
  --term-color-6: #54e1b9;
  --term-color-7: #d9d9d9;
  --term-color-8: #4d4d4d;
  --term-color-9: #dd3c69;
  --term-color-10: #4ebf22;
  --term-color-11: #ddaf3c;
  --term-color-12: #26b0d7;
  --term-color-13: #b954e1;
  --term-color-14: #54e1b9;
  --term-color-15: #ffffff;
}
