.terminal-font {
  font-family: Consolas, Menlo, 'Bitstream Vera Sans Mono', monospace, 'Powerline Symbols';
}
.terminal-font .line {
  letter-spacing: normal;
  overflow: hidden;
}
.terminal-font .line span {
  padding: 0;
  display: inline-block;
}
.terminal-font-small {
  font-size: 12px;
  line-height: 16px;
}
.terminal-font-small .line {
  height: 16px;
}
.terminal-font-small .line span {
  height: 16px;
}
.terminal-font-medium {
  font-size: 18px;
  line-height: 24px;
}
.terminal-font-medium .line {
  height: 24px;
}
.terminal-font-medium .line span {
  height: 24px;
}
.terminal-font-big {
  font-size: 24px;
  line-height: 32px;
}
.terminal-font-big .line {
  height: 32px;
}
.terminal-font-big .line span {
  height: 32px;
}
.player-overlay {
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
