name: Release

permissions:
  contents: write
  id-token: write

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-beta*'
      - 'v[0-9]+.[0-9]+.[0-9]+-rc*'

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: nixbuild/nix-quick-install-action@v30
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-${{ runner.arch }}

      - run: nix develop --command npm ci

      - run: nix develop --command npm run build

      - run: ls -lhR dist

      - name: Publish to npm
        run: |
          if [[ "${{ github.ref_name }}" =~ -beta|-rc ]]; then
            nix develop --command npm publish --tag next --provenance
          else
            nix develop --command npm publish --provenance
          fi

      - name: Create the release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TITLE=$(echo "${{ github.ref_name }}" | sed -e 's/^v//')
          if [[ "${{ github.ref_name }}" =~ -beta|-rc ]]; then
            gh release create ${{ github.ref_name }} --draft --prerelease --verify-tag --title "$TITLE"
          else
            gh release create ${{ github.ref_name }} --draft --verify-tag --title "$TITLE"
          fi

      - name: Upload the assets to the release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ github.ref_name }} dist/bundle/asciinema-player.min.js
          gh release upload ${{ github.ref_name }} dist/bundle/asciinema-player.css
